* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'pretendard';
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  width: fit-content;
  height: fit-content;
}

ul {
  list-style: none;
}

button {
  font-family: 'pretendard';
  cursor: pointer;
  display: block;
}
/* header */
.header {
  width: 100%;
  background-color: #fff;
}

.header_i {
  max-width: 1400px;
  height: 80px;
  margin: auto;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
}

.header .logo a {
  display: block;
  width: 200px;
  height: 100%;
  align-content: center;
}

.header .menu_m {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-weight: 700;
}

.header .menu_m>li {
  height: 100%;
  text-align: center;
  padding: .5rem 1rem;
}

.header .menu_m>li>a {
  height: 100%;
  display: block;
  align-content: center;
}

.header .menu_s {
  max-width: 130px;
  border-radius: 3px;
  padding: .5rem;
  background-color: #fff;
  opacity: 0;
  transition: .7s;
}

.header .menu_s li {
  padding: 1rem 1rem;
}

.header .menu_icon {
  display: none;
  height: 100%;
  align-content: center;
  cursor: pointer;
}

.header .menu_icon ul {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.header .menu_icon ul li {
  width: 100%;
  height: 3px;
  background-color: #000;
}

/* banner */
.banner {
  background: url(../fred_pizza/banner_pc.jpg) no-repeat center/cover;
  width: 100%;
  height: 50vw;
  min-height: 300px;
  position: relative;
  z-index: -1;
}

.banner .title {
  font-family: 'Mont-Heavy';
  font-size: calc(2rem + 2vw);
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* contents */
.contents .inner {
  max-width: 1200px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.contents .category {
  display: flex;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 5rem;
}

.contents .category .btn {
  font-size: 16px;
  font-weight: 700;
  background-color: transparent;
  border: none;
  padding-bottom: .5rem;
}

.contents .item_box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  text-align: center;
}

.contents .item_box .info {
  margin: 1rem 0;
}

.contents .item_box .info .ko {
  font-size: calc(1.3rem + 1vw);
  margin-bottom: .5rem;
}

.contents .item_box .info .en {
  color: #E70017;
}

.contents .category .on {
  border-bottom: 3px solid #E70017;
  transition: .1s;
}

@media screen and (max-width: 1200px) {
  
  .header .menu_m {
    display: none;
  }

  .header .menu_icon {
    display: block;
  }
}