@font-face {
  font-family: 'pretendard';
  src: url(../../font/Pretendard-1.3.9/web/variable/woff2/PretendardVariable.woff2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'pretendard';
}

button {
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border: 1px solid #eee;
}

td {
  text-align: center;
}

.wrap {
  width: 1000px;
  margin: auto;
  height: 100vh;
  align-content: center;
}

.txt {
  width: 100%;
  overflow: hidden;
  padding-bottom: 10px;
}

.txt .title {
  float: left;
}

.txt .t {
  float: right;
  font-size: 0.8rem;
  color: #999999;
}

.top {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 50px;
  overflow: hidden;
}

.top .left {
  float: left;
  border: none;
  width: 45%;
  height: 80px;
}

.top .left td:first-child {
  font-size: 2rem;
  font-weight: bold;
}

.top .left td:nth-child(2) {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 170%;
}

.top .left td:last-child {
  font-size: 0.8rem;
  line-height: 170%;
}

.top .left span {
  color: darkcyan;
}

.top .right {
  float: right;
  width: 50%;
  border: 1px solid #999;
  border-left: none;
  border-right: none;
  font-size: 0.8rem;
}

.top .right th {
  background-color: #eee;
  border-bottom: 1px solid #999 ;
}

.top .right th,
.top .right td {
  border-right: 1px solid #999;
  height: 40px;
}

.top .right th:last-child,
.top .right td:last-child {
  border-right: none;
}

/* teb */
.teb {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
  color: #999;
}

.teb th:first-child {
  border-right: 1px solid #eee;
  border-bottom: 3px solid darkcyan;
  color: darkcyan;
  font-weight: bold;
}

.teb th:hover {
  border-bottom: 3px solid darkblue;
  color: darkblue;
}

/* bottom */
.b_table {
  width: 100%;
  border-top: 1px solid #000;
  border-right: none;
  border-left: none;
}

.b_table th,
.b_table td {
  height: 60px;
  border-bottom: 1px solid #eee;
}

.b_table td {
  font-size: 0.8rem;
}

.b_table button {
  background-color: darkcyan;
  padding: 3px 4px;
  border: none;
  color: #fff;
  font-size: 0.6rem;
}

