@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Noto+Sans+KR:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* font-family: "Work Sans", sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

/* header */
.header {
  width: 100%;
  height: 80px;
  background-color: #ccc;
}

.header .h_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  height: 100%;
}

.header .h_inner .logo {
  font-weight: 500;
}

.header .h_inner .t_menu {
  width: 32px;
  height: 32px;
}

.header .h_inner .t_menu li {
  width: 100%;
  height: 4px;
  background-color: #000;
}

.header .h_inner .t_menu li:nth-child(2) {
  margin: 10px 0;
}

/* main */
.main {
  width: 100%;
}

/* portfolio */
.port {
  width: 100%;
  padding: 0 1.5rem;
}

.port .p_inner {
  margin-top: 6rem;
  margin-bottom: 15rem;
}

.port .p_inner .t_box {
  margin-bottom: 7rem;
}

.port .p_inner .title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.port .p_inner .title span {
  display: block;
  margin-bottom: 1rem;
}


.port .p_inner .btn {
  display: block;
  text-align: center;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  margin: auto;
  padding: 0.3rem 1rem;
  font-size: 0.6rem;
}

.port .p_inner .item_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.port .p_inner .box {
  width: calc((75% - 48px) / 3);
  min-height: 20vw;
  background-color: #ccc;
  border-radius: 16px;
}

.port .p_inner .box:is(:nth-child(1),:nth-child(2),:nth-child(5),:nth-child(6)) {
  flex: 1 1 auto;
}

.port .p_inner .box:is(:nth-child(3),:nth-child(4)) {
  flex: 2 1 auto;
}

/* news */
.news {
  width: 100%;
  margin-bottom: 15rem;
}

.news .n_inner {
  width: 84%;
  margin: auto;
}

.news .n_inner .t_box {
  margin-bottom: 7rem;
  display: flex;
  gap: 32px;
}

.news .n_inner .title {
  font-size: 2rem;
}

.news .n_inner .title span {
  display: block;
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.news .n_inner .btn {
  display: block;
  text-align: center;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  padding: 0.3rem 1rem;
  height: fit-content;
  align-self: flex-end;
  font-size: 0.6rem;
  margin-bottom: 7px;
}

.news .n_inner .contents {
  width: 100%;
  display: flex;
  gap: 32px;
}

.news .n_inner .con {
  width: calc((100% - 96px) / 4);
}

.news .n_inner .con .img {
  width: 100%;
  min-height: 20vw;
  background-color: #ccc;
}

.news .n_inner .con .t {
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.news .n_inner .con .t span {
  display: block;
  color: rgb(48, 176, 255);
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.news .n_inner .con .txt {
  font-size: 0.9rem;
  line-height: 1.3;
}

/* footer */
.footer {
  width: 100%;
  border-top: 2px solid #ccc;
}

.footer .f_nav {
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 10rem;
  width: 84%;
}

.footer .f_nav .main_m{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 32px;
}

.footer>.f_nav>.main_m>li>a {
  font-weight: 700;
  display: block;
  margin-bottom: 0.6rem;
  font-size: 1.1rem;
}

.footer .f_nav .sub_m {
  font-size: 0.8rem;
  line-height: 1.6;
  width: fit-content;
  margin: auto;
}

@media screen and (max-width: 1200px) {

  .header .h_inner {
    padding: 0 40px;
  }

  .port .p_inner .box {
    width: calc((75% - 24px) / 2);
    min-height: 35vw;
  }

  .port .p_inner .box:is(:nth-child(2),:nth-child(3),:nth-child(6)) {
    flex: 3 1 auto;
  }

  .news .n_inner {
    width: 100%;
    padding: 0 2rem;
  }

  .news .n_inner .contents {
    flex-wrap: wrap;
  }

  .news .n_inner .con {
    width: calc((100% - 32px) / 2);
  }

  .news .n_inner .con .img {
    min-height: 30vw;
  }

}

@media screen and (max-width: 767px) {
  
  .header .h_inner {
    padding: 0 1rem;
  }

  .port .p_inner {
    margin-bottom: 10rem;
  }

  .port .p_inner .item_box {
    flex-direction: column;
  }

  .port .p_inner .box {
    width: 100%;
    min-height: 45vw;
  }

  .news {
    margin-bottom: 10rem;
  }

  .news .n_inner {
    padding: 0 1.5rem;
  }

  .news .n_inner .t_box {
    margin-bottom: 3rem;
  }

  .news .n_inner .con {
    width: 100%;
  }

  .news .n_inner .con .img {
    min-height: 45vw;
  }

}