* {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.nav {
  text-align: center;
  height: 50px;
  align-content: center;
}

.nav a {
  font-weight: bold;
  margin: 10px 30px;
}

.title {
  background-color: pink;
  color: lightcoral;
  margin: 65px 0 45px 0;
  width: fit-content;
  padding: 0 40px;
  margin-right: auto;
  margin-left: auto;
}

.logo,
.title,
.img,
.sub_title,
.text {
  text-align: center;
}

.sub_title {
  margin: 20px;
}

.point {
  color: red;
}
