@import url('https://fonts.googleapis.com/css2?family=Gaegu&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Rubik+Wet+Paint&family=Rubik:ital,wght@0,300..900;1,300..900&family=Song+Myung&display=swap');

/* font-family: "Noto Sans", sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  font-family: "Noto Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

figure {
  width: fit-content;
  height: fit-content;
}

/* header */
.header_i {
  max-width: 1600px;
  height: 80px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header_i .l_h {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header_i .l_h .logo {
  height: 100%;
}

.header_i .nav ul {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.header_i .icon_wrap {
  display: none;
}

.header_i .icon {
  width: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header_i .icon .line {
  width: 100%;
  height: 4px;
  background-color: #fff;
}

.header_i .my {
  display: flex;
  align-items: center;
  gap: 4rem;
}

/* main */
.main {
  width: 100%;
  max-height: 1080px;
  position: relative;
}

.main .main_bg {
  position: absolute;
  top: 0;
  left: 0;
}

.main .m_title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  padding: 5rem 1rem;
  font-size: calc(3rem + 5vw);
  font-weight: 700;
}

.main .m_title p:last-child {
  justify-self: flex-end;
  align-self: flex-end;
}

/* best */
.best_i {
  max-width: 1600px;
  margin: 15rem auto;
  padding: 0 1rem;
}

.best_i .top .category ul {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.best_i .top {
  margin-bottom: 5rem;
  text-align: center;

}

.best_i .top .category li {
  padding: 2px 16px;
  border-radius: 32px;
  background-color: #555;
}

.best_i .top .category li:first-child {
  background-color: #824820;
}

.best_i .top .t_box .t {
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
}

.best_i .top .t_box .txt {
  line-height: 1.5;
  color: #cdcdcd;
}

.best_i .bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.best_i .top .btn {
  font-weight: 600;
  margin-top: 1.5rem;
}

.best_i .bottom .item .i_box {
  display: block;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.best_i .bottom .item .price {
  margin-top: 0.5rem;
  display: flex;
  gap: 8px;
}

.best_i .bottom .item .price p:first-child {
  color: #cdcdcd;
  text-decoration: line-through;
}

.best_i .bottom .item .price p:last-child {
  color: red;
}

/* add */
.add_i {
  max-width: 1600px;
  min-height: 1560px;
  margin: auto;
  margin-bottom: 15rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.add_i .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.add_i .left .txt,
.add_i .right .txt {
  margin-top: 2.5rem;
  line-height: 1.5;
  color: #cdcdcd;
}

.add_i .right {
  width: 50%;
  align-self: flex-end;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
}

.add_i .right .i_box {
  align-self: flex-end;
}

/* banner */
.banner {
  width: 100%;
  max-height: 696px;
  position: relative;
  margin-bottom: 15rem;
}

.banner .t_box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 1.5rem;
  padding-bottom: 3rem;
  background-color: rgba(0,0,0,.2);
  font-size: calc(2rem + 2vw);
  font-weight: 700;
  display: grid;
  justify-content: flex-end;
  align-items: flex-end;
}

/* sns */
.sns_i {
  max-width: 1600px;
  margin: auto;
  padding: 0 1rem;
  margin-bottom: 15rem;
}

.sns_i .title {
  text-align: center;
  margin-bottom: 3rem;
}

.sns_i .contents {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem 1rem;
}

.sns_i .contents .con {
  border-radius: 10px;
  overflow: hidden;
}

.sns_i .contents .t_box {
  font-size: 1.7rem;
  font-weight: 700;
}

.sns_i .contents .t_box:first-of-type {
  padding-left: 1rem;
  align-self: flex-end;
}

.sns_i .contents .t_box:last-of-type {
  padding-right: 1rem;
  justify-self: flex-end;
  grid-column: 1/3;
}

/* news */
.news {
  width: 100%;
  background-color: #000;
}

.news_i {
  max-width: 1600px;
  height: 350px;
  margin: auto;
  padding: 0 1rem;
  align-content: center;
}

.news_i .t_box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.news_i .title {
  font-size: 2rem;
  font-weight: 600;
}

.news_i .box {
  width: 50%;
  height: 100%;
  background-color: #fff;
  padding: 0 1.5rem;
}

/* footer */
.footer_i {
  max-width: 1600px;
  margin: auto;
  padding: 5rem 1rem 7rem 1rem;
  color: #cdcdcd;
}

.footer_i .fnb  ul {
  display: flex;
  gap: 1rem;
  font-size: 0.8rem;
}

.footer_i .fnb li:not(:last-child)::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #cdcdcd;
  margin-left: 1rem;
}

.footer_i .bottom {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  gap: 5rem;
}

.footer_i .bottom .left {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.footer_i .bottom .left .title {
  margin-bottom: 1rem;
}

.footer_i .bottom .left .t {
  line-height: 1.7;
  font-size: 0.8rem;
}

.footer_i .bottom .left .copy {
  font-size: 0.8rem;
  color: #ccc;
}

.footer_i .bottom .help .live {
  display: flex;
  gap: 1rem;
  margin: 1.5rem 0;
  font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {

  html {
    font-size: 14px;
  }

  .header_i .nav {
    display: none;
  }

  .header_i .icon_wrap {
    display: block;
  }

  .header_i .my {
    display: none;
  }
  
  .main .m_title {
    font-size: calc(3rem + 3vw);
  }

  .best_i .bottom {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 1rem;
  }

  .add_i {
    flex-direction: column;
    min-height: auto;
    gap: 3rem;
  }

  .add_i .left {
    width: 100%;
    flex-direction: row;
  }

  .add_i .right {
    width: 100%;
    flex-direction: row-reverse;
  }

  .add_i .i_box {
    flex: 1 1 auto;
  }

  .add_i .t_box {
    flex: 1 1 80%;
  }

  .banner .t_box {
    font-size: calc(2rem + 1vw);
  }

  .footer .bottom {
    gap: 6rem;
  }

}

@media screen and (max-width: 575px) {

  
  html {
    font-size: 12px;
  }

  .main .m_title {
    font-size: calc(3rem + 1vw);
  }

  .best_i {
    margin-top: 5rem;
  }

  .best_i .bottom {
    grid-template-columns: 1fr;
  }

  .best_i .top .t_box .txt {
    padding: 0 8rem;
  }

  .best_i .top .t_box .txt br {
    display: none;
  }

  .add_i {
    justify-content: flex-start;
  }

  .add_i .left {
    flex-direction: column-reverse;
    gap: 6rem;
  }

  .add_i .t_box {
    padding-right: 16rem;
  }

  .add_i .i_box {
    padding-left: 6rem;
  }

  .add_i .right {
    flex-direction: column-reverse;
  }

  .banner .t_box {
    font-size: calc(1.5rem + 1vw);
  }

  .sns_i .contents {
    grid-template-columns: repeat(2, 1fr);
  }

  .sns_i .contents .t_box:last-of-type {
    order: 5;
    justify-self: flex-end;
  }

  .news_i {
    height: 200px;
  }

  .news_i .t_box {
    flex-direction: column;
    width: 70%;
    height: 50%;
    margin: auto;
    align-items: start;
  }
  
  .news_i .box {
    width: 100%;
    height: 50px;
  }

  .footer_i {
    padding: 5rem 1rem;
  }

  .footer_i .fnb ul {
    gap: 0.5rem;
  }

  .footer_i .fnb li:not(:last-child)::after {
    display: none;
  }

  .footer_i .help {
    display: none;
  }
}